doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Game sederhana
    link(rel='stylesheet', type='text/css', href='build/build.css')
    script(type='text/javascript').
      var totalScore = 0;
    script(type='text/javascript', src='build/flappyBox.js')
  body
    article
      section
        h2 Game sederhana
      section#flappy
        h3 Flappy Box
        button.startGame(onclick='startFlappyBoxGame()') Start Game
        div(style='text-align:center;width:480px;')
          p.countdown
          button.buttonMoveFlappyBox(onmousedown='moveup()', onmouseup='clearmove()', ontouchstart='moveup()', style='visibility: hidden;') UP
          br
          br
          button.buttonMoveFlappyBox(onmousedown='moveleft()', onmouseup='clearmove()', ontouchstart='moveleft()', style='visibility: hidden;') LEFT
          button.buttonMoveFlappyBox(onmousedown='moveright()', onmouseup='clearmove()', ontouchstart='moveright()', style='visibility: hidden;') RIGHT
          br
          br
          button.buttonMoveFlappyBox(onmousedown='movedown()', onmouseup='clearmove()', ontouchstart='movedown()', style='visibility: hidden;') DOWN
          p.gameOver
    script(type='text/javascript', src='build/build.js')
